.neon-text{
    color: rgb(98, 0, 255);
    text-shadow: 0 0 5px #0ff;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
    text-align: right;
}

.info-card{
    border: 2px solid rgb(130, 32, 168);
    border-radius: 10px;
    margin: 5px 0;
    box-shadow: 0 0 10px rgb(0, 255, 255);
    background-color: grey;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-view{
    margin: 10px;
    background-color: grey;
    margin-left: 8px;
}

.img-view{
    margin-top: 5px;
    border-radius: 5px;
    height: 500px;
}