.card-view{
    background-color: grey;
    width: 386px;
}

.img-view-detail{
    margin: 10px;
    border-radius: 5px;
    height: 500px;
    width: 365px;
}

.pharagrap{
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 100%;
    padding: 20px; 
    
}

.info{
    border-top: 2px solid black;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 20px;
    padding: 10px;
    flex: 1;
}